

    <div class="container">
        <div class="row newTable">
            <div class="fixedElement">
                <div class="col-md-12">
                    <div class="heading_text_btn mb-3 mt-4">
                        <div class="leftButton">
                            <button type="submit" class="btn btn-primary me-2" onclick="window.location.href='material_gate_pass_entry_list.html';">
                                <i data-feather="arrow-left-circle"></i>
                                Back
                            </button>

                        </div>
                        <h2>Material Gate Pass (For Company Transport) – ENTRY </h2>
                        <div class="rightButton">
                            <button type="submit" class="btn btn-white" onclick="window.location.href='#';">
                                <i data-feather="printer"></i>
                                Print / View
                            </button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-12 mb-4">
                <div class="card mb-4 mt-4">
                    <div class="card-body approvalForm">
                        <form class="form-sample form-inline row ms-auto">
                            <div class="row d-flex align-items-center mb-4">
                                <label class="col-form-label col-md-3">
                                    Ref. Company Transport Vehicle Trip Schedule – ENTRY Note No. :
                                </label>
                                <div class="col-md-3">
                                    <select class="form-select cursor-none" aria-label="Default select example" disabled>
                                        <option selected="">200001-CTV-20220930-00001</option>
                                        <option value="1">200001-CTV-20220930-00002</option>
                                        <option value="1">200001-CTV-20220930-00003</option>
                                        <option value="1">200001-CTV-20220930-00004</option>
                                    </select>
                                </div>

                                <label class="col-form-label col-md-1">
                                    Date  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="10/09/2022" disabled>
                                </div>
                                <label class="col-form-label col-md-1">
                                    Time  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="03:00: PM" disabled>
                                </div>



                            </div>
                            <div class="row d-flex align-items-center mb-4">
                                <label class="col-form-label col-md-3">
                                    Center Code & Name  :
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" value="01 / Nizamabad" disabled>
                                </div>
                                <label class="col-form-label col-md-1">
                                    Month & Year  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="Sept 2022" disabled>
                                </div>
                            </div>

                            <div class="row d-flex align-items-center mb-4">
                                <label class="col-form-label col-md-3">
                                    Vehicle No.  :
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" value="Vehicle Number 1" disabled>
                                </div>
                                <label class="col-form-label col-md-1">
                                    Vehicle Type  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="SUV" disabled>
                                </div>
                                <label class="col-form-label col-md-1">
                                    Model Name  :
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="Bolero" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center mt-2">
                        <button type="button" class="btn btn-primary me-2" onclick="window.location.href='@Url.Action("VehicleMaterialOutDetails", "MaterialGatePass",
                                    new { Area = "Security"})'">
                            Vehicle & Material Out Details
                        </button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("VehicleMaterialInDetails", "MaterialGatePass",
                                    new { Area = "Security"})'">
                            Vehicle & Material In Details
                        </button>
                    </div>
                </div>
                <div class="bgColor mt-4 bg-transparent border-blue">
                    <ul style="list-style:none;">
                        <li style="font-size: 16px;">
                            If The Driver Name Given In The System & The Person Driving The Vehicle Are Same: <select class="form-select cursor-none" aria-label="Default select example" disabled>
                                <option>-</option>
                                <option selected="" value="1">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </li>


                    </ul>
                </div>
                <div class="bgColor mt-4 bg-transparent border-blue">
                    <ul style="list-style:none;">

                        <li style="font-size: 16px;">
                            Have You Collected / Given Back The Mobile Phone To The Driver Who Is Driving The Vehicle: <select class="form-select cursor-none" aria-label="Default select example" disabled>
                                <option>-</option>
                                <option selected="" value="1">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </li>
                    </ul>
                </div>





            </div>
        </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->


        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/multiselect.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/jquery.dataTables.min.js"></script>
        <script src="js/dataTables.bootstrap5.min.js"></script>
        <script src="js/feather.min.js"></script>
        <!-- Time Picker -->
        <script src="js/moment.min.js"></script>
        <script src="js/bootstrap-datetimepicker.min.js"></script>

        <script>
            feather.replace()
        </script>

        <script>
            $(document).ready(function() {
                $('#example').DataTable();
            });
        </script>
        <script>
            $(function() {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <!-- time Picker Script -->
        <script>
            var today = new Date();
            var minDate = today.setDate(today.getDate() + 1);

            $('#datePicker').datetimepicker({
                useCurrent: false,
                format: "MM/DD/YYYY",
                minDate: minDate
            });

            var firstOpen = true;
            var time;

            $('.timePicker').datetimepicker({
                useCurrent: false,
                format: "hh:mm A"
            }).on('dp.show', function() {
                if (firstOpen) {
                    time = moment().startOf('day');
                    firstOpen = false;
                } else {
                    time = "01:00 PM"
                }

                $(this).data('DateTimePicker').date(time);
            });
        </script>
        <script>
            $(window).scroll(function(e) {
                var $el = $('.fixedElement');
                var isPositionFixed = ($el.css('position') == 'fixed');
                if ($(this).scrollTop() > 200 && !isPositionFixed) {
                    $el.css({
                        'position': 'sticky',
                        'top': '0px'
                    });
                }
                if ($(this).scrollTop() < 200 && isPositionFixed) {
                    $el.css({
                        'position': 'static',
                        'top': '0px'
                    });
                }
            });
        </script>

