@*<div class="container-fluid p-0 login-bg-img2" style="background-color:white">
    <div class="content-wrapper justify-content-center align-items-center position-relative bg-transparent overflow-auto">
        <div class="login-inner" style="margin-top:-100px">
            <div class="row w-100">
                <div class="col-md-3 mx-auto">
                    <div class="login-outer">
                        <img src="~/img/charbhai-logo-center.jpg"
                             alt="Charbhai Bidi Works - logo" class="img-fluid">
                        <h2> Dashboard will be Launching Soon!</h2>
                        <img src="/img/launch.gif" alt="" class=" launch-img img-fluid">
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>*@
<div class="dash-content p-15">
    <div class="launching-outer">
        <img src="/img/charbhai-logo-center.jpg" class="logo-img" alt="Charbhai Logo">
        <h2> Dashboard will be Launching Soon!</h2>
        <img src="/img/launch.gif" alt="" class=" launch-img img-fluid">
    </div>
</div>

