@using CBBW.BOL;
@model List<PageInformation>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetRBAC</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Controller</td>
                <td>Action</td>
            </tr>
            @if (Model != null && Model.Count > 0) 
            {
                foreach(var item in Model) 
                {
                <tr>
                    <td>@item.ControllerName</td>
                    <td>@item.ActionName</td>
                </tr>
                }
            }
        </table>
    </div>
</body>
</html>
