@using CBBW.BOL.RBACUsers;
@{
    var myData = TempData["UserMenu"] as List<UserMenu>;
    TempData["UserMenu"] = myData;
}
<div id="mySidebar" class="sidebar">
    <div class="sidebar-sticky">
        <nav class="card  mb-4">
            <ul class="nav flex-column" id="nav_accordion">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa fa-th-large "></i> <span class="menu-title"> Dashboard </span> </a>
                </li>
                <li class="nav-item has-submenu">
                    <a onclick="showArrow(this)" class="nav-link activeP" href="#"><i class="fa fa-cogs "></i>  <span class="menu-title"> Maintenance</span>  <i class="fa fa-angle-right"></i> </a>
                    <ul class="submenu collapse ">
                        <li class="level2-li">

                            <a onclick="addclassActive(this)" class="nav-link" href="#"> <i data-feather="circle"></i> Masters <i class="fa fa-angle-right"></i></a>
                            <ul class="submenu collapse">
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"><i data-feather="circle"></i> <span class="menu-title">Modules Master</span></a></li>
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">Sub Modules Master</span></a></li>
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">Navigation Masterr</span></a></li>
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">Task Master</span></a></li>
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">Role Management</span></a></li>
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">User Management</span></a></li>
                            </ul>
                        </li>
                        <li class="level2-li">
                            <a onclick="showsubmenuArrow(this)" class="nav-link" href="#"> <i data-feather="circle"></i> Rules <i class="fa fa-angle-right"></i></a>
                            <ul class="submenu collapse">
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"><i data-feather="circle"></i> <span class="menu-title">Tour – Rules</span></a></li>
                                <li><a onclick="addActiveclass(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">TA DA – Rules</span></a></li>
                            </ul>
                        </li>
                        <li class="level2-li">
                            <a onclick="showsubmenuArrow(this)" class="nav-link" href="#"><i data-feather="circle"></i> Transactions <i class="fa fa-angle-right"></i></a>
                            <ul class="submenu collapse">
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#"><i data-feather="circle"></i> <span class="menu-title"> Company Transport Vehicle </span> <i class="fa fa-angle-right"></i></a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#"><i data-feather="circle"></i> <span class="menu-title">  Material Gate Pass</span> <i class="fa fa-angle-right"></i></a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employee’s Travelling Details & Vehicle Allotment (By HG)
                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employees Travelling Scheduled Details (FOR NZB STAFF)
                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Ratification</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employees Travelling Scheduled Details (FOR MFG.CENTERS RECORDED AT NZB)

                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Ratification</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employees Travelling Scheduled Details (FOR NZB STAFF)
                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Ratification</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employees Travelling Scheduled Details (FOR NZB STAFF)
                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Ratification</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employees Travelling Scheduled Details (FOR NZB STAFF)
                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Ratification</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick="showsubarrow(this)" class="nav-link" href="#">
                                        <i data-feather="circle"></i> <span class="menu-title">
                                            Employees Travelling Scheduled Details (FOR NZB STAFF)
                                        </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="submenu collapse">
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Entry</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Approval</span></a></li>
                                        <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"><span class="menu-title">Ratification</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="level2-li">
                            <a onclick="showsubmenuArrow(this)" class="nav-link" href="#"> <i data-feather="circle"></i> Reports <i class="fa fa-angle-right"></i></a>
                            <ul class="submenu collapse">
                                <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"> <i data-feather="circle"></i> <span class="menu-title">TA & DA Bill Statement</span></a></li>
                                <li><a onclick="addActiveclass1(this)" class="nav-link" href="#"> <i data-feather="circle"></i><span class="menu-title">Payment</span> </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
