<div class="bgMenu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <span>SEPARATION</span> <span>
                            PERSONNEL & ADMINISTRATION
                        </span>
                    </li>
                    <li>
                        <a href="~/" class="LogoutBtn">Home</a>
                        <a href="@Url.Action("LogOut", "Home",new { area=""})" class="LogoutBtn">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
