<div class="breadcrumb-outer p-15">
    <ul>
        <li class="activeLink">
            <a href="#">Maintenance <i data-feather="chevrons-right"></i> </a>
        </li>
        <li class="activeLink">
            <a href="#">Rules <i data-feather="chevrons-right"></i> </a>
        </li>
        <li>
            <a href="#">Tour Rules <i data-feather="chevrons-right"></i> </a>
        </li>
    </ul>
</div>
