
<div class="dash-content p-15">
    <div class="launching-outer">
        <img src="/img/charbhai-logo-center.png" class="logo-img" alt="Charbhai Logo">
        <h2> Dashboard will be Launching Soon!</h2>
        <img src="/img/launch.gif" alt="" class=" launch-img img-fluid">
    </div>
</div>

