<div id="mySidenav" class="sidenav">
    <a href="#" id="CEO" class="bi bi-person-circle text-dark"> CEO</a>
    <a href="#" id="Production" class="bi bi-server"> Production</a>
    <a href="#" id="Security" class="bi bi-shield-shaded "> Security</a>
    <a href="~/Home/MaterialMasterView" id="Material" class="bi bi-truck"> Material</a>
    <a href="~/Home/PersonnelMasterView" id="Personnel" class="bi bi-file-person"> Personnel</a>
</div>
