
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotOpen</title>
</head>
<body>
    <div style="height:350px"> 
        <h3>
            Employee’s Travelling  Details & Vehicle Allotment (By HG) 
        </h3>
        <h6>
            This Module Only Opens On Holidays, Weekly Offs and Off-General Shift Timeing On Working Days.
        </h6>
    </div>
</body>
</html>
