
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewRedirection</title>
</head>
<body>
    <div>
        <h1>
            No Effective Rules Found.
        </h1>
    </div>
</body>
</html>
