<div class="col-md-12">
    <ul class="menu-list">
        <li><a class="btn border-0 adisabled" id="menu-btn">CEO</a></li>
        <li><a class="btn border-0 adisabled" id="menu-btn1">Security</a></li>
        <li><a class="btn border-0 adisabled" id="menu-btn2">Production</a></li>
        <li><a class="btn border-0 adisabled" id="menu-btn3"> Material</a></li>
        <li><a class="btn border-0 adisabled" id="menu-btn4">Personnel</a></li>
        <li onclick="openNav(this)"> <a class="btn border-0" id="menu-btn5">Administration</a></li>
        <li><a class="btn border-0 adisabled" id="menu-bt6">Audit </a></li>
    </ul>
</div>
