<div class="container">
    <div class="row newTable">
        <div class="fixedElement">
            <div class="col-md-12" style="position: relative;">
                <div class="heading_text_btn mb-4 ">
                    <div class="leftButton">
                        <button type="button" id="btnBack" class="btn btn-primary me-2">
                            <i data-feather="arrow-left-circle"></i>
                            Back
                        </button>
                        <button type="button" disabled id="SubmitBtn" name="Final" class="btn btn-secondary me-2" onclick="SaveData();">
                            <i data-feather="upload"></i>
                            Submit
                        </button>
                        <button type="button" onclick="ClearBtnClicked('/RBAC/Task/Create')" class="btn btn-white">
                            <i data-feather="x-circle"></i>
                            Clear
                        </button>
                    </div>
                    <h2>Task Master Entry </h2>
                </div>
            </div>
        </div>


        <div class="col-md-12 mb-5">
            <div class="card mt-4">
                <div class="card-body approvalForm">
                    <div class="form-sample form-inline row ms-auto" id="MainDiv">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2 col-form-label">
                                <label>Module Name :</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select is-invalid"
                                        data-name="ModuleId" data-name-text="Moduletxt"
                                        aria-label="Default select example"
                                        id="ModuleId" onchange="ChangeCashCadingSourceInCloaningWithIntgerValue('SubModuleId', '/RBAC/Role/GetSubModule?Id='); ValidateControl();">
                                </select>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2 col-form-label">
                                <label>Sub Module Name :</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select is-invalid"
                                        data-name="SubModuleId" data-name-text="SubModuletxt"
                                        aria-label="Default select example"
                                        id="SubModuleId" onchange="ChangeCashCadingSourceInCloaningWithIntgerValue('NavigationId', '/RBAC/Role/GetNavigation?Id='); ValidateControl();">
                                </select>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2 col-form-label">
                                <label>Navigation Name :</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select is-invalid"
                                        data-name="NavigationId" data-name-text="Navigationtxt"
                                        aria-label="Default select example"
                                        id="NavigationId" onchange="ValidateControl();">
                                </select>
                            </div>
                        </div>

                        <div class="row d-flex align-items-center inVisible"  id="ModuleDive">
                            <div class="table-responsive ">
                                <table class="table table-bordered w-100" id="ModuleTable">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="vertical-align: middle; background-color: pink; color: #000;">Action </th>
                                            <th scope="col" style="vertical-align: middle;">Task Master  Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody1">
                                        <tr id="0" class="add-row">
                                            <td class="text-center">
                                                <input class="form-check-input alterID float-none CustomDateFormatCloneRow" type="checkbox" id="IsActiveInt" name="IsActiveInt" data-name="IsActiveInt" value="0" onclick="IsActiveClick()">
                                            </td>
                                            <td class="text-left">
                                                <div id="TaskName" class="form-control pointer alterID CustomDateFormatCloneRow" data-name="TaskName">
                                                </div>
                                                <input id="TaskId" type="text" data-name="TaskId" class="form-control alterID CustomDateFormatCloneRow inVisible">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody id="tbody2"></tbody>
                                </table>
                            </div>
                            <div class="col-md-12 mt-1 text-center">
                                <button disabled type="button" name="Save" class="btn btn-green me-2" id="Savebtn" onclick="SaveData();">
                                    <i data-feather="check-circle"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section headers
    {
    <style>
        .inVisible {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }

        input[type="date"]::before {
            right: 30px;
        }
    </style>

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/mySLUCtrl.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusable.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusableV2.js"></script>
    <script src="~/UIContent/JS/CustomePage/Task/TaskModule.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnBack').click(function () {
                var url = "/RBAC/Task/Index";
                if ($('#NavigationName').val() != "") {
                    MyAlertWithRedirection(2, "Are You Sure Want to Go Back?", url);
                } else {
                    window.location.href = url;
                }


            });
        });
    </script>
}